
$whiteLight: #fafafa;
$base: #cb253e;
$second-color: #1c4b64;
$third-color: #ffee3d;
$button-color: #cb253e;
$shadow-color: #a31d31;
$hover-color: #db2843;
$agenda-color: #f9ed55;
$agenda-shadow: #d7cd4b;
$input-shadow: #797979;
$vote-color: rgba(253,251,236,1);


//left field and right field
$left-width: 20.5%;
$right-width: 20.5%;
$toolbar-height: 10%;
$mainscreen-height: 52%;
$othervideo-height: 20%;
$avcontrol-height: 10%;

$lf-top-width: 100%;
$lf-top-height: 5%;

$lf-voice-width: 75%;
$lf-voice-height: 26px;

$lf-meeting-height: 10%;
