.brainstorming-field{
  box-sizing: border-box;
  padding: 1%;
  position: absolute;
  z-index: 999;
  top: 10%;
  left: 20%;
  width: 56%;
  height: 78%;
  border-radius: 20px;
  background-color: rgba(253,251,236,.95);
}

.brainstorming-field .title{
  position: absolute;
  left: 35%;
  width: 35%;
  height: 12%;
  box-sizing: border-box;
  padding: 0.5%;
}

.brainstorming-field .exit{
  position: absolute;
  right: 3%;
  top: 2%;
  width: 25px;
  height: 25px;
  &:hover {
    cursor: pointer;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 5px;
    background-color: #cb253e;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  } 
}

.title .logo {
  float: left;
  width: 54px;
  height: 54px;
  background-color: #cb253e;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
}

.logo#grid{
  background-image: url('../img/grid.png');
  background-size: 60%;
  margin-bottom: 25%;
}

.logo#KJ{
  background-image: url('../img/kj.png');
  background-size: 60%;
  margin-bottom: 25%;
}

.logo#SixHat{
  background-image: url('../img/sixhat.png');
  background-size: 60%;
  margin-bottom: 25%;
}

.title .line{
  margin-left: 15%;
  margin-top: -1%;
  height: 90%;
  border-bottom: 4px solid #cb253e;
  animation: lineRight 1s ease-out;
  animation-fill-mode: both;
}

.title .text{
  font-size: 2.3em;
  float: left;
  margin-top: -15%;
  animation: fadeIn 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.brainstorming-field .left-field,.brainstorming-field .right-field{
  box-sizing: border-box;
  padding: 1%;
  position: absolute;
  top: 15%;
  width: 50%;
  height: 70%;
  float: left;
}

.left-field .img{
  float: left;
  margin-top: 5%;
  margin-left: 13.5%;
  width: 75%;
  animation: fadeIn 0.8s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.left-field .text{
  float: left;
  margin-top: 3%;
  margin-left: 13.5%;
  width: 75%;
  font-size: 1.5em;
  animation: fadeIn 0.8s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.instruction{
  box-sizing: border-box;
  padding: 8%;
  float: left;
  width: 100%;
  height: 45%;
  animation: fadeIn 0.8s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.right-field .type{
  float:left;
  margin-right: 4%;
  font-size: 2.1em;
  font-weight: bold;
}

.right-field .list{
  list-style: square;
  margin-left: 10%;
  margin-top: 5%;
  line-height: 120%;
  font-size: 1.4em;
  float: left;
  width: 90%;
}

.right-field .line{
  float: left;
  width: 6px;
  height: 33px;
  background-color: black;
  margin-top: -1%;
}

.bottom-field{
  box-sizing: border-box;
  padding: 1% 20%;
  position: absolute;
  top: 85%;
  width: 96%;
  height: 13%;
  animation: fadeIn 0.8s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.bottom-field .button{
  float: left;
  margin-left: 5%;
  box-sizing: border-box;
  padding: 2.5%;
  width: 28%;
  height: 80%;
  background-color: #cb253e;
  box-shadow: 1px 1px 1px #a31d31;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border-radius: 17px;
  &:hover{
    background-color: lighten(#cb253e,5%);
    cursor: pointer;
  }
}

.button#closed{
  background-color: #d8d8d8;
  box-shadow: 1px 1px 1px grey;
  color: black;
  &:hover{
    cursor: no-drop;
  }
}

.main-screen .grid-table{
  border: 1px;
  width: 95%;
  height: 100%;
}

.divTable{
  display: table;
  width: 30%;
  height: 33%;
  border: 1px solid rgba(0,0,0,0.5);
  float: left;
}

.divTable.first{
  background-color: #ffb78c;
}

.divTable.second{
  background-color: #fff08c;
}

.divTable.third{
  background-color: #bbff8c;
}

.divTable.forth{
  background-color: #99ebff;
}

.divTable.fifth{
  background-color: #ffffff;
}

.divTable.sixth{
  background-color: #8cb5ff;
}

.divTable.seventh{
  background-color: #cba4ff;
}

.divTable.eighth{
  background-color: #ffacf2;
}

.divTable.ninth{
  background-color: #cacaca;
}

.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
  width: 33.3%;
  height: 33.3%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: table-cell;
  padding: 2px 2px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.TableInput{
  width: 95%;
  height: 100%;
  outline: none;
  border-style: none;
  background-color: transparent;
  resize: none;
  &:hover,&:focus{
    background-color: rgba(255,255,255,0.3)
  }
}

.main-screen#bigger{
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 999;
  width: 100%;
  height: 96%;
  animation: Bigger 0.5s linear;
}

.blackBG{
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: -20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s;
}

.gametoolbar{
  box-sizing: border-box;
  padding: 0.5%;
  position: absolute;
  right: 3%;
  width: 6%;
  height: 38%;
  background-color: #fdfbec;
  border-radius: 6px;
}

.gametoolbar#bigger{
  top: 16%;
  height: 60%;
  line-height: 687%;
  font-size: 1.5em;
}

.button2{
  float: left;
  margin-bottom: 10%;
  width: 95%;
  height: 23%;
  text-align: center;
  line-height: 650%;
  &:hover{
    cursor: pointer;
    opacity: 0.85;
  }
}


.button2#fullscreen{
  background:transparent url('../img/fullscreen.png') no-repeat top 20% center ;
  background-size: 75%;
}

.button2#reset{
  background:transparent url('../img/reset.png') no-repeat top 20% center ;
  background-size: 75%;
}

.button2#dowload{
  background:transparent url("../img/download_excel.png") no-repeat top 20% center ;
  background-size: 62%;
}

.button2#shutdown{
  background:transparent url("../img/shutdown.png") no-repeat top 20% center ;
  background-size: 62%;
  color: #cd1b36;
}

.button2#backtosmall{
  background:transparent url("../img/smaller.png") no-repeat top 20% center ;
  background-size: 70%;
}



/*SixHat*/

.button1{
  position: fixed;
  width: 100px;
  height: 35px;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0.5%;
  padding-left: 3%;
}


.button1#changehat{
  font-size: 1.3em;
  width: 8.7%;
  right: 35%;
  bottom: 7%;
  background: #fdfbec url(../img/changehat.png) no-repeat 7% center;
  background-size: 27%;
  &:hover{
    background-color: darken(rgba(253,251,236,1),5%);
    cursor: pointer;
  }
}



.button1#samehat{
  font-size: 1.3em;
  width: 8.7%;
  bottom: 7%;
  right: 25.5%;
  background: rgba(253,251,236,1) url(../img/samehat.png) no-repeat 10% center;
  background-size: 25%;
  &:hover{
    background-color: darken(rgba(253,251,236,1),5%);
    cursor: pointer;
  }
}

.button1#diffhat{
  font-size: 1.3em;
  width: 8.7%;
  bottom: 7%;
  right: 25.5%;
  background: rgba(253,251,236,1) url(../img/diffhat.png) no-repeat 10% center;
  background-size: 25%;
  &:hover{
    background-color: darken(rgba(253,251,236,1),5%);
    cursor: pointer;
  }
}


.sixhat-field{
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 78%;
  border-radius: 10px;
}

.bigscreen-sixhat{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 74%;
  border-radius: 10px;
  background-color: #fdfbec;
}

.bigscreen-sixhat .hat-img{
  position: absolute;
  z-index: 100;
  left: 35%;
  top: 66%;
  width: 9%;
  transform: rotate(-30deg);
}

.bigscreen-sixhat .hat-type{
  position: absolute;
  box-sizing: border-box;
  padding: 0.7%;
  z-index: 50;
  top: 80%;
  left: 39.5%;
  width: 30%;
  height: 9%;
  font-size: 1.5em;
}

.hat-type#white{
  background: linear-gradient(to right, rgba(255,255,255,1),
  rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0));
}

.hat-type#red{
  background: linear-gradient(to right, rgba(219,40,67,1),
  rgba(219,40,67,1),rgba(219,40,67,1),rgba(219,40,67,0));
  color: white;
}

.hat-type#yellow{
  background: linear-gradient(to right, rgba(249,237,85,1),
  rgba(249,237,85,1),rgba(249,237,85,1),rgba(249,237,85,0));
}

.hat-type#blue{
  background: linear-gradient(to right, rgba(28,75,100,1),
  rgba(28,75,100,1),rgba(28,75,100,1),rgba(28,75,100,0));
  color: white;
}

.hat-type#green{
  background: linear-gradient(to right, rgba(60,179,113,1),
  rgba(60,179,113,1),rgba(60,179,113,1),rgba(60,179,113,0));
  color: white;
}

.hat-type#black{
  background: linear-gradient(to right, rgba(0,0,0,1),
  rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0));
  color: white;
}

.bigscreen-sixhat .hat-text{
  position: absolute;
  box-sizing: border-box;
  padding: 0.7%;
  z-index: 50;
  top: 89%;
  left: 39.5%;
  width: 30%;
  height: 9%;
  font-size: 1.5em;
  text-shadow: 0px 0px 7px white;
}

.bigscreen-sixhat .hat-text#white{
  color: white;
  text-shadow: 0px 0px 7px black;
}

.bigscreen-sixhat .hat-text#red{
  color: #DB2843;
}

.bigscreen-sixhat .hat-text#yellow{
  color: #F9ED55;
  text-shadow: 0px 0px 7px black;
}

.bigscreen-sixhat .hat-text#blue{
  color: #1C4B64;
}

.bigscreen-sixhat .hat-text#green{
  color: #3CB371;
}

.bigscreen-sixhat .hat-text#black{
  color: black;
}


.others-sixhat{
  position: absolute;
  top: 74%;
  width: 100%;
  height: 26%;
}

.others-sixhat .hat-img{
  float: left;
  z-index: 100;
  margin-top: -18%;
  margin-left: 2%;
  width: 20%;
  transform: rotate(-10deg);
}

.others-sixhat .hat-img.one{
  left: -2%;
  top: 66%;
}

.others-sixhat .hat-img.two{
  left: -2%+20%;
  top: 66%;
}

.others-sixhat .hat-img.three{
  left: -2%+(20%*2);
  top: 66%;
}

.others-sixhat .hat-img.four{
  left: -2%+(20%*3);
  top: 66%;
}

.others-sixhat .hat-img.five{
  left: -2%+(20%*4);
  top: 66%;
}

.others-sixhat .hat-img.six{
  left: -2%+(20%*5);
  top: 66%;
}

.others-sixhat .hat-text{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 45%;
  float: left;
  margin-top: 15%;
  color: white;
  text-align: right;
  box-sizing: border-box;
  padding: 3.5% 7%;
}

.other-hat{
  float: left;
  margin-top: 8%;
  //margin-right: 1.5%;
  width: 18%;
  height: 40%;
}

.teaching{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 39.5%;
  height: 100%;
  box-sizing: border-box;
  padding: 3% 5% 3% 3%;
}

.teachinglist{
  position: absolute;
  top: 55%;
  left: 4%;
  width: 93%;
  height: 11%;
}

.teachinglist .bottom{
  position: absolute;
  z-index: 0;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 14%;
  background-color: #D9D9D9;
}

.bottom .focus{
  position: absolute;
  z-index: 999;
  width: 33.33%;
  height: 100%;
  background-color: #cb253e;
}

.focus#one{
  top: 0%;
  left: 0%;
}

.focus#two{
  top: 0%;
  left: 33.33%;
}

.focus#three{
  top: 0%;
  left: 66.66%;
}


.button3{
  box-sizing: border-box;
  padding: 3% 1%;
  float: left;
  width: 33.33%;
  height: 100%;
  text-align: center;
  background-color: #E4E4E4;
  font-size: 1.4em;
  &:hover{
    cursor: pointer;
    background-color: darken(#E4E4E4,3%);
  }
}

.teachingcontent{
  box-sizing: border-box;
  padding: 2% 5%;
  position: absolute;
  top: 66%;
  left: 4%;
  width: 93%;
  height: 31%;
  font-size: 1.2em;
}

.teachingcontent li{
  list-style: square;
  line-height: 140%;
  margin-left: 5%;
  text-indent: 0px;
}

.teachingcontent ul{
  line-height: 140%;
  text-indent: 30px;
}

.content-img{
  width: 65%;
  position: absolute;
  top: 3%;
  left: 21%;
}

/*KJ GAME*/

.center{
  position: absolute;
  left: 40%;
  top: 40%;
  width: 100px;
  height: 110px;
}

.center-border{
  position: absolute;
  width: 100px;
  height: 110px;
  animation: fadeIn 1s;
}

.hex{
  position: absolute;
  z-index: 0;
  width: 100px;
  height: 110px;
  animation: fadeIn 1s;
}

.center-border#one{
  left: 34%;
  top: 28%;
}

.center-border#two{
  left: 46%;
  top: 28%;
}

.center-border#three{
  left: 28%;
  top: 40%;
}

.center-border#four{
  left: 52%;
  top: 40%;
}

.center-border#five{
  left: 34%;
  top: 52%;
}

.center-border#six{
  left: 46%;
  top: 52%;
}

.hexagonal {
  position: absolute;
  z-index: 50;
  left: 5%;
  top: 30%;
  width: 90%;
  height: 43.5%;
  &:before,&:after {
    position: absolute;
    content: "";
    z-index: -50;
    width: 0;
    height: 0;
    border: 25px dashed transparent;
    border-left-width: 45px;
    border-right-width: 45px;
  }
}

.hexagonal:before {
  left: 0%;
  top: -105%;
}
.hexagonal:after {
  left: 0%;
  top: 100%;
}

.hexagonal#white{
  background-color: white;
  &:before{
    border-bottom-color:white;
  }
  &:after{
    border-top-color:white;
  }
}

.hexagonal#yellow{
  background-color: #ffea4a;
  &:before{
    border-bottom-color: #ffea4a;
  }
  &:after{
    border-top-color: #ffea4a;
  }
}

.hexagonal#whiteyellow{
  background-color: #FFE699;
  &:before{
    border-bottom-color: #FFE699;
  }
  &:after{
    border-top-color: #FFE699;
  }
}

.hexagonal#notyetwrite{
  opacity: .4;
  background-color: white;
  &:before{
    border-bottom-color:white;
  }
  &:after{
    border-top-color:white;
  }
  
  &:hover{
    cursor: pointer;
    opacity: .7;
  }

}


.hexInput{
  box-sizing: border-box;
  padding: 5%;
  float: left;
  width: 100%;
  height: 100%;
  background-color: transparent;
  resize: none;
  outline: none;
  border-style: none;
  text-align: center;
  font-size: 1.2em;
}

.hexadd{
  float: left;
  width: 100%;
  height: 100%;
  font-size: 3.5em;
  text-align: center;
  color: #262626;
}

/* Hex Second  */

.button4{
  position: absolute;
  right: 10%;
  bottom: 20%;
  width: 60px;
  height: 60px;
  border-radius: 99em;
  opacity: .5;
  background: rgba(253,251,236,1) url('../img/arrow.png') no-repeat center center;
  background-size: 50%;
  &:hover{
    cursor: pointer;
    opacity: .9;
  }
}

.KJGame_second{
  width: 100%;
  height: 100%;
}

.honeylist{
  box-sizing: border-box;
  padding: 0% 2%;
  float: left;
  width: 15%;
  height: 100%;
}

.honeylist .content{
  float: left;
  width:100%;
  height: 87%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  } 
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-button:vertical:decrement {
    opacity: 100%;
  }
  
  &::-webkit-scrollbar-button:vertical:increment {
    opacity: 100%;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
  }
  
}

.honeylist .up{
  float: left;
  margin-bottom: 10%;
  width:100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}

.honeylist .down{
  float: left;
  margin-top: 10%;
  width:100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}

.honeylist .img{
  height:100%;
}

.gamecontent{
  box-sizing: border-box;
  padding: 1%;
  float: left;
  width: 70%;
  height: 100%;
}

.KJ{
  float: left;
  width: 50%;
  height: 100%;
}

.honey-element{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-bottom: 10%;
  width: 100%;
  height: 16%;
  background: transparent url(../img/honey.png) no-repeat center center;
  background-size: 65%;
  &:hover{
    opacity: .85;
    cursor: move;
  }
}

.honey-element .text{
  float: left;
  margin-top: 20%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  &:hover{
    cursor: move;
  }
}

.honey-arrow{
  width: 25%;
  float: left;
  margin: 0% 17%;
}


.honey-arrow1{
  width: 25%;
  float: left;
  margin: 0% 0%;
  transform: rotate(90deg);
}

.honey-input{
  float:left;
  width:50%;
  height: 40%;
  background: transparent url('../img/honeybucket_empty.png') no-repeat center center;
  background-size: 85%;
}

.honey-process{
  float:left;
  width:100%;
  height: 15%;
}

.honey-output{
  float:left;
  width:100%;
  height: 45%;
  background: transparent url('../img/honeybucket_full.png') no-repeat center center;
  background-size: 65%;
}