/*****************************
2. Center-field Set
*****************************/

.toolbar{
  //basic-set
  display: flex;
  justify-content: center;
  align-items: center;
  //size-set
  width: 100%;
  height: $toolbar-height;
  //margin-set
  margin-bottom: 0.5%; 
}

.main-screen{
  //basic-set
  display: flex;
  justify-content: center;
  align-items: center;
  //size-set
  width: 100%;
  height: $mainscreen-height;
  //special-set
  border-radius: 5px;
  background-image: url('../img/666.jpg'); //for test
  background-repeat: no-repeat; //for test
  background-size: 100%; //for test
}

.av-control{
  //basic-set
  display: flex;
  justify-content: center;
  align-items: center;
  //size-set
  width: 100%;
  height: 13%;
  //position-set
  position: absolute;
  bottom: 2%;
}