.meetingrecord{
  width:100%;
  height: 100%;
}

.banner{
  position: absolute;
  top: 0%;
  left: 3%;
  width: 95%;
  height: 13%;
}

.meetingrecord .logo{
  float: left;
  height: 100%;
}

.meetingrecord .title{
  float: right;
  width: 23%;
  height: 100%;
}

.meetingrecord .content{
  position: absolute;
  top: 13%;
  left: 3%;
  width: 95%;
  min-height: 75%;
  background-color: rgba(253, 251, 236, 0.95);
  border-radius: 6px;
}

.meetingrecord .circle{
  float: left;
  margin: 5% 2.3%;
  width: 55px;
  height: 55px;
  border-radius: 99px;
  background-color: #ffee3d;
  text-align: center;
  font-size: 2.7em;
  line-height: 160%;
}

.content .title{
  box-sizing: border-box;
  padding: 0.5% 1%;
  float: left;
  width: 100%;
  height: 6%;
  font-size: 1.5em;
}

.meetingrecord .text{
  float: left;
  padding: 2% 1%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.3em;
  outline: none;
  border: none;
  background-color: transparent;
}

.text ul{
  margin-bottom: 1%;
}

.ballon{
  position: absolute;
  top:0%;
  left: 0%;
  z-index: -50;
}

.ballon.type1{
  width:3%;
  top:30%;
  left:5%;
  animation: up 60s infinite;
}

.ballon.type2{
  width:1.5%;
  top:45%;
  left:13%;
  animation: up 80s infinite;
}

.ballon.type3{
  width:4%;
  top:72%;
  left:35%;
  animation: up 130s infinite;
}


.ballon.type4{
  width:1.5%;
  top:65%;
  left:60%;
  animation: up 140s infinite;
}


.ballon.type5{
  width:2%;
  top:70%;
  left:85%;
  animation: up 130s infinite;
}

.ballon.type6{
  width:4%;
  top:50%;
  left:92%;
  animation: up 110s infinite;
}

.moutain{
  width: 14%;
  position: absolute;
  right: 14%;
  bottom: 6%;
}

.backtoindex{
  float: left;
  margin-top: 4%;
  width: 5%;
  height: 30%;
  background-color: #cb253e;
  text-align: center;
  line-height: 178%;
  border-radius: 40px;
  color: white;
}

.old-data{
  box-sizing: border-box;
  padding: 1.5%;
  position: absolute;
  left: 0%;
  top: 2.5%;
  width: 50%;
  height: 95%;
  overflow-y: scroll;
}

.new-data{
  box-sizing: border-box;
  padding: 0.5%;
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
}
