/*****************************
4. Video Detail
*****************************/

.other-video{
  float:left;
  bottom: 0%;
  z-index: 1000;
  top:$otherscreen-top;
  width: 100%;
  height:15%;
}

.video{
  float: left;
  width: 20%; 
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  &:hover{
    margin-top:-0.3%;
    cursor: pointer;
  }
  &:active{
    margin-top:0%;
    background-color: black;
  }
}


.video#user1{
  background-image: url('../img/user1.jpg');
}

.video#user2{
  background-image: url('../img/user2.jpg');
}

.video#user3{
  background-image: url('../img/user3.jpg');
}

.video#user4{
  background-image: url('../img/user4.jpg');
}

.video#user5{
  background-image: url('../img/user5.jpg');
}

.user-infro{
  position: relative;
  top: 76%;
  width: 43%;
  height: 20%;
}

.user-image{
  margin: 3;
  float: left;
  width: 20%; 
}


#member{ 
  background: linear-gradient(to right, rgba(255,238,69,1),rgba(255,238,69,1),rgba(255,238,69,1),rgba(255,238,69,0));
}

#king{
  background: linear-gradient(to right, rgba(135,211,202,1),rgba(135,211,202,1),rgba(135,211,202,1),rgba(135,211,202,0));
}