html, body, .container {
  height: 100%;
  background-color: #c1d9e8; }

.container {
  display: flex;
  justify-content: center; }
  .container .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .index .logo {
      width: 300px;
      position: absolute; }
    .container .index .inputBox {
      display: flex;
      align-items: center; }
      .container .index .inputBox .input {
        flex: 1;
        margin-right: 10px; }
        .container .index .inputBox .input div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 6px 0 6px 0; }
          .container .index .inputBox .input div img {
            height: 28px;
            margin: 0 6px 0 6px; }
          .container .index .inputBox .input div input {
            height: 30px;
            flex: 1; }
        .container .index .inputBox .input .indexName img {
          height: 22px;
          margin: 0 9px 0 9px; }
      .container .index .inputBox .addRoom {
        flex: 1;
        width: 40px;
        height: 40px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes goUp {
  0% {
    top: 25%; }
  100% {
    top: 10%; } }

@keyframes goDown {
  0% {
    top: 50%; }
  100% {
    top: 60%; } }

.inputBox {
  position: absolute;
  top: 39.5%;
  animation: fadeIn 3s; }

#logo_top {
  animation: goUp 1.3s linear;
  animation-fill-mode: forwards; }

#logo_text {
  top: 36.6%;
  opacity: 0;
  animation: fadeInAndOut 2.5s ease-in-out;
  animation-fill-mode: forwards; }

#logo_bottom {
  animation: goDown 1.3s linear;
  animation-fill-mode: forwards; }
