html, body, .container {
  height: 100%;
  background-color: #c1d9e8; }

.container {
  display: flex;
  justify-content: center; }
  .container .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .index .logo {
      width: 300px;
      position: absolute; }
    .container .index .inputBox {
      display: flex;
      align-items: center; }
      .container .index .inputBox .input {
        flex: 1;
        margin-right: 10px; }
        .container .index .inputBox .input div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 6px 0 6px 0; }
          .container .index .inputBox .input div img {
            height: 28px;
            margin: 0 6px 0 6px; }
          .container .index .inputBox .input div input {
            flex: 1;
            padding: 0 3px 0 3px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none; }
          .container .index .inputBox .input div input:focus {
            border-color: #2188ff; }
        .container .index .inputBox .input .indexName img {
          height: 22px;
          margin: 0 9px 0 9px; }
      .container .index .inputBox .addRoom {
        flex: 1;
        width: 40px;
        height: 40px; }

.inputBox {
  position: absolute;
  top: 40%;
  animation: fadeIn 3s; }

#logo_top {
  animation: goUp 1.3s linear;
  animation-fill-mode: forwards; }

#logo_text {
  top: 36.6%;
  opacity: 0;
  animation: fadeInAndOut 2.5s ease-in-out;
  animation-fill-mode: forwards; }

#logo_bottom {
  animation: goDown 1.3s linear;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes goUp {
  0% {
    top: 25%; }
  100% {
    top: 10%; } }

@keyframes goDown {
  0% {
    top: 50%; }
  100% {
    top: 60%; } }
.laydate-theme-molv .layui-laydate-main {
  width: 240px; }

.layui-laydate-content td,
.layui-laydate-content th {
  height: 24px; }

.layui-laydate-content {
  padding: 7px; }

.layui-laydate-header i {
  font-size: 10px; }

.layui-laydate-header i.laydate-prev-y {
  left: 5px; }

.layui-laydate-header i.laydate-prev-m {
  left: 30px; }

.laydate-time-list ol li {
  line-height: 25px; }

.laydate-time-list p {
  line-height: 20px; }

.laydate-time-list ol {
  height: 145px; }
.container {
  display: flex;
  max-width: 100vw;
  max-height: 100vh; }
  .container .left-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    margin: 5px;
    box-sizing: content-box;
    justify-content: space-between; }
    .container .left-field .CVcontrol {
      width: 100%;
      height: 8%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: pink;
      border-radius: 5px; }
      .container .left-field .CVcontrol div {
        height: 100%;
        width: 100%;
        display: flex; }
        .container .left-field .CVcontrol div span {
          margin: auto; }
    .container .left-field .leftChatBox {
      height: 80%;
      max-width: 100%;
      overflow-y: auto;
      overflow-wrap: break-word; }
      .container .left-field .leftChatBox div {
        max-width: inherit; }
    .container .left-field .leftInput {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      position: relative; }
      .container .left-field .leftInput .inputArea {
        position: absolute; }
      .container .left-field .leftInput #mailbox {
        left: 0;
        top: -7px;
        max-width: 75px; }
      .container .left-field .leftInput #input-text {
        bottom: 5px;
        left: 55px;
        height: 30px;
        width: 115px;
        padding: 0px 35px 5px 15px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 3px 3px 5px 1px grey; }
      .container .left-field .leftInput #upload {
        bottom: 16px;
        left: 192px;
        width: 15px; }
  .container .center-field {
    flex: 3;
    margin: 5px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container .center-field .toolbar {
      display: flex;
      align-items: center;
      margin: 5px;
      width: 55vw; }
      .container .center-field .toolbar .voice-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container .center-field .toolbar .voice-content .recognizeControl {
          display: flex; }
          .container .center-field .toolbar .voice-content .recognizeControl .voice-ai {
            display: flex; }
          .container .center-field .toolbar .voice-content .recognizeControl .voice-text {
            flex: 1; }
      .container .center-field .toolbar .buttonWrapper {
        flex: 2;
        display: flex;
        justify-content: space-between; }
      .container .center-field .toolbar .left-meetingtime {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container .center-field .toolbar .left-meetingtime span {
          flex: 1; }
        .container .center-field .toolbar .left-meetingtime #timeText {
          flex: 1; }
    .container .center-field .main-screen {
      flex: 8;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5px; }
      .container .center-field .main-screen .main-video {
        height: 60vh; }
        .container .center-field .main-screen .main-video .FullScreen > video {
          width: auto;
          height: 100%;
          margin: auto; }
      .container .center-field .main-screen .other-video .otherUser video {
        width: initial;
        height: 15vh; }
      .container .center-field .main-screen .other-video .otherUser .user-info {
        height: 10vh; }
        .container .center-field .main-screen .other-video .otherUser .user-info img {
          height: 10px;
          width: 10px; }
    .container .center-field .av-control {
      height: 10vh;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30vw; }
      .container .center-field .av-control .av-button {
        margin: auto 10px auto 10px;
        flex: 1;
        text-align: center; }
      .container .center-field .av-control .sharescreen {
        margin: auto 10px auto 10px;
        flex: 1;
        text-align: center; }
  .container .right-field {
    flex: 1;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px; }
    .container .right-field .agenda-block {
      max-width: inherit;
      flex: 2;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container .right-field .agenda-block .pictureWrapper {
        max-width: inherit;
        flex: 1;
        display: flex;
        position: relative; }
        .container .right-field .agenda-block .pictureWrapper img {
          height: 100px;
          position: relative; }
        .container .right-field .agenda-block .pictureWrapper .branch {
          top: 40px;
          right: -40px; }
        .container .right-field .agenda-block .pictureWrapper .eagle {
          top: 10px;
          right: 140px; }
      .container .right-field .agenda-block .flag {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        background-color: yellow;
        position: relative;
        top: -5px;
        width: 80%; }
        .container .right-field .agenda-block .flag .agenda-title {
          padding: 5px; }
        .container .right-field .agenda-block .flag .agenda-content {
          flex: 1;
          max-height: 180px;
          overflow-y: auto; }
          .container .right-field .agenda-block .flag .agenda-content .agendaItem {
            margin: 2px; }
        .container .right-field .agenda-block .flag .agenda-add {
          padding: 5px; }
        .container .right-field .agenda-block .flag .agenda-content > .detail {
          display: flex;
          margin: 5px;
          align-items: center;
          flex: 1; }
          .container .right-field .agenda-block .flag .agenda-content > .detail input {
            width: 80%; }
        .container .right-field .agenda-block .flag .agenda-content > .detail > .checkbox > input {
          background-color: #fff;
          height: 18px;
          width: 20px; }
    .container .right-field .vote-block {
      flex: 1; }
