html,body,.container{
  height:100%;
  background-color: rgb(193, 217, 232);
}
.container {
  display: flex;
  justify-content: center;
  .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      width: 300px;
      position: absolute;
    }
    .inputBox {
      display: flex;
      align-items: center;
      .input {
        flex: 1;
        margin-right: 10px;
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin:6px 0 6px 0;
          img {
            height: 28px;
            margin: 0 6px 0 6px;
          }
          input {
            flex: 1;
            padding:0 3px 0 3px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
          }
          input:focus{
            border-color: #2188ff;
          }
        }
        .indexName {
          img {
            height: 22px;
            margin: 0 9px 0 9px;
          }
        }
      }
      .addRoom {
        flex: 1;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.inputBox {
  position: absolute;
  top:40%;
  animation: fadeIn 3s;
}

#logo_top {
  animation: goUp 1.3s linear;
  animation-fill-mode: forwards;
}

#logo_text {
  top:36.6%;
  opacity: 0;
  animation: fadeInAndOut 2.5s ease-in-out;
  animation-fill-mode: forwards;
}

#logo_bottom {
  animation: goDown 1.3s linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes goUp {
  0% {
    top:25%;
  }
  100% {
    top: 10%;
  }
}

@keyframes goDown {
  0% {
    top: 50%
  }
  100% {
    top: 60%;
  }
}